/*
 * FOR INFO ON SETTING UP CSS FOR PRINT, SEE: http://alistapart.com/article/boom
 *
 * Note that to get embedded fonts into the PDF, it may be necessary to print to PDF from Preview
 * after exporting the original PDF file.
 */

@media print {
    * {
        font-family: 'Times New Roman';
        font-weight: normal;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        font-size: 0.1389in;
    }

    p {
        line-height: 125%;
        text-align: justify;
        text-indent: 0.25in;
        orphans: 2;
        widows: 2;
        string-set: left-page-header 'THE ELVISH LANGUAGE', page-number counter(page);
    }

    ul {
        list-style-type: none;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    li p {
        text-indent: 0;
    }

    li {
        padding-left: 0.25in;
        text-indent: -0.25in;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.1389in;
        page-break-after: avoid;
    }

    h2, h3, h4, h5, h6 {
        margin-top: 1em;
    }

    h1 {
        page-break-before: left;
        string-set: right-page-header content(), left-page-header '', page-number '';
        font-size: 0.3333in;;
    }

    h2 {
        font-size: 0.25;
    }

    h3 {
        font-size: 0.1667in;
    }

    q:before {
        content: "“";
    }

    q:after {
        content: "”";
    }

    q > q:before {
        content: "‘";
    }

    q > q:after {
        content: "’";
    }

    b, strong {
        font-weight: bold;
    }

    blockquote {
        margin-left: 0.25in;
        margin-right: 0.25in;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    blockquote p {
        text-indent: 0;
    }

    blockquote + p,
    .text + p {
        /* paragraphs after a quote are continuations and shouldn't be indented */
        text-indent: 0;
    }

    /* TABLE OF CONTENTS */

    ul.toc a::after {
        content: leader('. ') target-counter(attr(href), page);
    }

    a {
        color: black;
        text-decoration: none;
    }

    a.pageref::after {
        content: " on page " target-counter(attr(href), page)
    }

    .s, .sindarin {
        font-weight: bold;
        letter-spacing: 0.025em;
        word-spacing: 0.1em;
    }

    .hi {
        font-weight: inherit;
        font-style: italic;
    }

    .ipa {
        font-family: Arial, sans-serif;
    }

    .ipa:before, .ipa:after { content: '/' }

    .t {
        font-family: tengwarlight;
        font-size: 1.25em;
    }

    .ti {
        font-family: tengwaritalic;
    }

    .tai {
        font-family: tengwaraltitalic;
    }

    .cirth {
        font-family: cirth;
    }

    .text {
        line-spacing: 150%;
    }

    .center {
        text-align: center;
        text-indent: 0;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .center-block {
        margin-left: auto;
        margin-right: auto;
        display: table;
    }

    /* TABLES */

    table {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    td {
        padding: 0.25em;
    }

    /* COLUMNS */

    table.columns td {
        vertical-align: top;
    }

    table.columns {
        width: 100%;
    }

    .col-3 td {
        width: 33%;
    }

    .tab {
        display: inline-block;
        margin-left: 2em;
        width: 1em;
    }

    /* DEVELOPMENT */

    .TODO {
        display: none;
    }

    @page {
        size: 5.5in 8.5in;
        margin-left: 0.75in;
        margin-right: 0.75in;
        margin-top: 0.75in;
        margin-bottom: 0.75in;
    }

    @page :left {
        @top-left {
            content: string(page-number, first);
            font-size: 0.1111in;
            font-family: 'Times New Roman';
            margin-top: 0.25in;
        }

        @top-center {
            content: string(left-page-header, first);
            font-size: 0.1111in;
            font-family: 'Times New Roman';
            margin-top: 0.25in;
            letter-spacing: 0.1em;
        }
    }

    @page :right {
        @top-right {
            content: string(page-number, first);
            font-size: 0.1111in;
            font-family: 'Times New Roman';
            margin-top: 0.25in;
        }

        @top-center {
            content: string(right-page-header, first);
            text-transform: uppercase;
            font-size: 0.1111in;
            font-family: 'Times New Roman';
            margin-top: 0.25in;
            letter-spacing: 0.1em;
        }
    }
}
